// fonts

$primary-font: 'Julius Sans One', sans-serif;
$secondary-font: 'Quicksand', sans-serif;

$base-font-size: 1.2rem;
$base-line-height: 1.75rem;

$primary-color: #2b3a67;
$secondary-color: #e84855;
$tertiary-color: #fff0f5;